.container {
  margin: auto auto;
  background: none;
  width: auto;
  height: none;
}

section.btn {
  width: 200px;
  top: 300px;
  left: 80px;
}

button {
  display: block;
  margin-top: 20px;
}
