body {
  background: url("phoneBG.jpg") no-repeat fixed 100% 100%;
}

.container {
  margin: auto auto;
  background: none;
  width: auto;
  height: auto;
}

section.btn {
  position: static;
  margin: auto auto;
  width: 200px;
}

button {
  display: block;
  margin-top: 20px;
  background-color: rgba(139, 142, 133, 0.3);
}

button {
  font-size: 1.2em;
}
/*Medias to move buttons to bottom of phone screens*/

@media screen and (min-height: 790px) and (max-height: 936px) {
  section.btn {
    margin-top: 400px;
  }
}

@media screen and (min-height: 760px) and (max-height: 789px) {
  section.btn {
    margin-top: 360px;
  }
}

@media screen and (min-height: 675px) and (max-height: 759px) {
  section.btn {
    margin-top: 300px;
  }
}

@media screen and (min-height: 625px) and (max-height: 674px) {
  section.btn {
    margin-top: 270px;
  }
}

@media screen and (max-height: 624px) {
  button {
    padding: 10px;
  }
}

@media screen and (min-height: 555px) and (max-height: 624px) {
  section.btn {
    margin-top: 260px;
  }
}

@media screen and (min-height: 480px) and (max-height: 554px) {
  section.btn {
    margin-top: 220px;
  }
}
