body {
  background: url("phoneBG.jpg") no-repeat fixed 100% 100%;
}

.container {
  background: none;
  width: auto;
  height: auto;
}

h1 > span {
  font-size: 3.5em;
}

section.btn {
  position: static;
  margin: auto auto;
  width: 200px;
}

button {
  display: block;
  margin-top: 20px;
  background-color: rgba(139, 142, 133, 0.3);
}

button {
  font-size: 1.2em;
}
/*Medias to move buttons to bottom of phone screens*/

@media screen and (min-height: 865px) and (max-height: 936px) {
  section.btn {
    margin-top: 200px;
  }
}

@media screen and (min-height: 795px) and (max-height: 864px) {
  section.btn {
    margin-top: 150px;
  }
}

@media screen and (min-height: 720px) and (max-height: 794px) {
  section.btn {
    margin-top: 120px;
  }
}

@media screen and (min-height: 635px) and (max-height: 719px) {
  section.btn {
    margin-top: 70px;
  }
}

@media screen and (min-height: 585px) and (max-height: 634px) {
  section.btn {
    margin-top: 110px;
  }
}

@media screen and (min-height: 525px) and (max-height: 584px) {
  section.btn {
    margin-top: 80px;
  }
}

@media screen and (min-height: 480px) and (max-height: 524px) {
  section.btn {
    margin-top: 50px;
  }
}

@media screen and (max-height: 634px) {
  h1 > span {
    font-size: 1.5em;
  }
  button {
    padding: 10px;
  }
}
