body {
  background-image: url("alone.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

h1 {
  color: white;
  text-align: center;
}

h1 > span {
  font-size: 2em;
}

.container {
  margin: auto auto;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  width: 850px;
  height: 600px;
}

section.btn {
  position: relative;
  left: 120px;
  top: 180px;
}

button {
  border: none;
  width: 200px;
  padding: 20px;
  cursor: pointer;
  background-color: rgba(105, 148, 184, 0.5);
  color: white;
}

button:hover {
  background-color: white;
  color: black;
}
