.container {
  margin: auto auto;
  background: black;
  width: 1000px;
  height: 600px;
}

div.container h1 {
  color: white;
  text-align: center;
}

section.btn {
  position: relative;
  left: 200px;
  top: 200px; 
}

button {
  border: none;
  width: 200px;
  padding: 20px;
  cursor: pointer;
}



/*
button:hover {
  border: 2px solid pink;
}
